
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-primaria: #d9d9d9;
    --cor-secundaria: black;
    --cor-terciaria: #000aff;
    --cor-quartenaria: white;
}
body{
    background-color: var(--cor-primaria);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 3140px;
    width: 100hw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    height: 10vh;
    width: 100vw;
    background-color: var(--cor-primaria);
    position: fixed;
}

nav{
    font-size: 0.5rem;
    display: flex;
    flex-direction: row wrap; 
}

nav a{
    color: var(--cor-secundaria);
    margin-left: 40px;    
    text-decoration: none;
}

nav img{
    margin-left: 40px;
}

.opcoes{
    color: var(--cor-secundaria);
    position: absolute;
    top: 10px; right: 50px; 
    margin-top: 12px;
    align-items: center;
}

.search{
    position: absolute;
    top: 10px; left: 50px;
    
}

.search-img{
    height: 20px;
    width: auto;
    position: absolute;
    top: 20px; left: 50px;
}

.search-logo{
    height: 35px;
    width: auto;
    position: absolute;
    top: 12px; left: 310px;
}

.background{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.background1{
    content: var(--cor-terciaria);
    width: 1340px;
    height: 808px;
}

.background2{
    filter: drop-shadow(8px 0px 0px #000aff)
}

.background3{
    width: 700px;
}

.background4{
    height: 520px;
    filter: drop-shadow(8px 0px 0px #000aff);
}



.apresentacao-titulo{
    font-size: 2.4rem;
    position: absolute;
    top: 240px; left: 330px;
    margin-right: 245px;
}

.apresentacao-azul{
    color: var(--cor-terciaria);
    font-size: 2.4rem;
    
}

.apresentacao-paragrafo{
    position: absolute;
    top: 440px; left: 330px;
    margin-right: 600px;
}

.apresentacao-button{
    position: absolute;
    top: 640px; left: 330px;
    margin-right: 600px;
}

.servicos-titulo{
    position: absolute;
    top: 930px; left: 180px;    
}

.servicos-lista{
    position: absolute;
    top: 1080px; left: 180px;
    margin-right: 250px;
    display: flex;
    flex-direction: row;
}

.servicos-lista-titulo{
    padding-bottom: 40px;
    margin-right: 100px;
    gap: 50px;
}


.servicos-lista-descricao{
    margin-right: 60px;
    padding-bottom: 100px;
    color: var(--cor-quartenaria);
}


.servicos-lista-leiamais{
    color: var(--cor-quartenaria);
}

.relato{
    position: absolute;
    top: 1750px; left: 180px;    
    margin-right: 810px;
    display: flex;
    flex-direction: column;
}

.relato-sub{
    padding-top: 90px;

}


.relato-descricao{
    color: var(--cor-secundaria);
    padding-top: 20px;
    font-size: 0.7rem;
    margin-bottom: 90px;
}


.relato-button{
    background-color: var(--cor-primaria);
    border: 0.08rem solid var(--cor-terciaria); /*borda *espessura**/
    color: var(--cor-terciaria);    /*letra*/
    cursor: var(--cor-primaria);
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    width: 200px;
    height: 40px;
}

.cta-titulo{
    position: absolute;
    top: 2450px; right: 300px;    
    color: var(--cor-quartenaria);
}

.cta-caixa{
    position: absolute;
    top: 2620px; left: 400px;
}

.cta-button{
    position: absolute;
    top: 2610px; right: 230px;
}

h1{
    color: var(--cor-secundaria);
    font-size: 1.9rem;
}
h2{
    color: var(--cor-primaria);
    font-family: "Rubik";
    font-size: 50px;
}

h3{
    color: var(--cor-quartenaria);
    font-family: "Allison";
    font-size: 80px;
}
h4{
    color: var(--cor-quartenaria);
    font-family: "rubik";
    font-size: 1.6rem;
}

h6{
    color: var(--cor-secundaria);
    font-family: "Rubik";
    font-size: 1rem;
    font-weight: bold;
}
p{
    color: var(--cor-secundaria);
    font-size: 0.5rem;
    text-decoration: none;
}


footer{
    width: 100vw;
    height: 10vh;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: row;
}

.informacoes{
    margin-left: 100px;
    justify-content: left;
}

.informacoes-titulo{
    padding-bottom: 20px;  
}

.creditos{
    position: absolute;
    top: 3000px; right: 30px; 
}

.creditos-paragrafo{
    color: #999999;
    padding-top: 10px;
}

button{
    background-color: blue;
    border: none;
    color: antiquewhite;
    cursor: white ;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    width: 200px;
    height: 40px;
}