/* ----------------layout---------------*/
body{
    display: flex;
    flex-direction: column;
}
 
header{
    /* tamanho */
    height: 10vh;
 
    /* box model */
    margin: 0 4rem;
    padding: 1.25rem 0;
   
    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
main{
    flex-grow: 1;
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
 
.header__navbar{
    display: flex;
    gap: 2.25rem;
}
 
.textual__categorias__img{
    width: 2.5rem;
    height: 2.5rem;
}

.rodape__img{
    width: 2.5rem;
    height: 2.5rem;
}

.textual{
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}
 
.textual__titulo__h1{
    position: relative;
}
 
.textual__titulo__h1--mark{
    position: absolute;
    z-index: -1;
    height: 1.5rem;
    bottom: 37%;
}
 
.textual__buttons{
    display: flex;
    justify-content: space-around;
}
 
.rodape{
    background-color: #D9D9D9;
    width: 100vw;
   
    padding: 1.25rem 0;
 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* ----------------layout---------------*/
 
/* ----------------module---------------*/
.header__logo{
    width: 2rem;
    height: 2rem;
 
    border-radius: 50%;
}
 
.header__button-cta{
    padding: 1rem 1.5rem;
 
    border-radius: 50px;
}
 
.destaque__circle{
    width: 28rem;
    height: 28rem;
 
    border-radius: 50%;
}
 
.textual__buttons__button{
    padding: 1rem 1.5rem;
   
    border-radius: 50px;
}
/* ----------------module---------------*/
 
/* ----------------theme---------------*/
/* variáveis */
:root{
    --cor-primaria: #00D1FF;
}
 
.header__logo{
    background-color: var(--cor-primaria);
}
 
.header__navbar{
    font-size: 1.5rem;
}
 
.header__button-cta{
    background-color: var(--cor-primaria);
 
    font-size: 1.5rem;
}
 
.destaque__circle{
    background-color: var(--cor-primaria);
}
 
.textual__titulo{
    font-size: 2.5rem;
}
 
.textual__titulo__h1--mark{
    color: transparent;
    background-color: var(--cor-primaria);
}
 
.textual__categorias{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    font-size: 1.25rem;
}
 
.textual__buttons__button{
    background-color: var(--cor-primaria);
 
    font-size: 1.5rem;
}
 
#textual__buttons__button_off{
    background-color: transparent;
    border-style: solid;
    border-color:  black ;
}
 
.rodape{
    font-size: 1.5rem;
}
 
.header__navbar__inicio{
    
}
/* ----------------theme---------------*/

/* tablet */
@media screen and (min-width: 400px) and (max-width: 744px) {
    .destaque__circle{
        width: 20rem;
        height: 20rem;
    }
    .header__navbar{
        display: flex;
        gap: 1.75rem;
    }
     
    main{
        flex-grow: 1;
     
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .textual{
        display: flex;
        flex-direction: column;
        gap: 1.75rem;
    }
     
      
    .textual__titulo__h1--mark{
        position: absolute;
        z-index: -1;
        height: 1.25rem;
        bottom: 45%;
    }

    .header__button-cta{
        padding: 0.75rem 1.25rem;
     
        border-radius: 34px;
    }

    .textual__categorias__img{
        width: 2rem;
        height: 2rem;
    }

    .rodape__img{
        width: 2rem;
        height: 2rem;
    }

    .textual__buttons__button{
        padding: 0.75rem 1.25rem;
     
        border-radius: 34px;
    }

    .header__navbar{
        font-size: 1.25rem;
    }
     
       
    .textual__titulo{
        font-size: 2.35rem;
    }
     
       
    .textual__categorias{
        font-size: 1.15rem;
    }
     
    .textual__buttons__button{
        font-size: 1.25rem;
    }
     
      
    .rodape{
        font-size: 1.25rem;
    }
     
    .header__navbar__inicio{
        display: none;/*remove o elemento da tela*/
    }
     
  
    
}

/* mobile */
@media screen and (max-width: 400px) {
    .destaque__circle{
        width: 14rem;
        height: 14rem;
    }

   
    .header__navbar{
        display: flex;
        gap: 1.25rem;
    }
     
    .textual{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
     
      
    .textual__titulo__h1--mark{
        position: absolute;
        z-index: -1;
        height: 0.75rem;
        bottom: 50%;
    }

    .textual__categorias__img{
        width: 1.5rem;
        height: 1.5rem;
    }

    .rodape__img{
        width: 1.5rem;
        height: 1.5rem;
    }

    .header__button-cta{
        padding: 0.5rem 0.75rem;
     
        border-radius: 34px;
    }

    .textual__buttons__button{
        padding: 0.5rem 0.75rem;
     
        border-radius: 34px;
    }

    .header__navbar{
        font-size: 1rem;
    }
     
       
    .textual__titulo{
        font-size: 1.5rem;
    }
     
       
    .textual__categorias{
        font-size: 1rem;
    }
     
    .textual__buttons__button{
        font-size: 1rem;
    }
     
      
    .rodape{
        font-size: 1rem;
    }
     
    .header__navbar__inicio{
        display: none;/*remove o elemento da tela*/
    }
    .header__navbar__depoimentos{
        display: none;/*remove o elemento da tela*/
    }
}