@import url('https://fonts.googleapis.com/css2?family=Allison&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: auto;
    background-image: url("elementos/");
    background-color: #341f41; /* Used if the image is unavailable */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    font-family: "Rubik", "Allison";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    height: 10vh;
    width: 100vw;
    background-color: #543265;
    position: fixed;
}

nav{
    
}

nav a{
    color: #d9d9d9;
    font-size: 0.5rem;
    text-decoration: none;
}

.opcoes{
    margin-top: 45px;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    gap: 50px;
}

.up-logo{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px; left: 50px;   
}

.up-projeto{
    position: absolute;
    top: 10px; right: 50px;
}

.inicial{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.inicial-musico{
    width: 426px;
    height: 627px;
}

.inicial-background{
    width: 505px;
    height: 597px;
    margin-top: 10vh;
    opacity: 0.4;
}

.banner-logo{
    height: 30vh;
    width: 80vw;
    position: absolute;
    top: 200px; left: 600px;
    justify-content: center;
}

.banner-titulo{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 300px; left: 500px
}

.banner-slogan{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 350px; left: 320px
}

.banner-logo{
    width: 226px;
    height: 218px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px; left: 500px;
}

aside{
    height: 50px;
    width: 100vw;
    background-color: #6a30b2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    position: absolute;
    top: 615px; 
}

.aside-icone{
    width: 50px;
    height: 50px;
    margin: 5px;
 }

h1{
    color: #d9d9d9;
    font-family: "Rubik";
    font-size: 2.5rem;
}
h2{
    color: #d9d9d9;
    font-family: "Rubik";
    font-size: 50px;
}

h3{
    color: #d9d9d9;
    font-family: "Allison";
    font-size: 3.5rem;
    text-decoration: none;
}
h4{
    color: #d9d9d9;
    font-family: "rubik";
}

h6{
    color: #d9d9d9;
    font-family: "Rubik";
    font-size: 20px;
}
p{
    color: #d9d9d9;
    font-size: 14px;
}

.catalogo-produto{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 20px;
}

.card-produto{
    background-color: white;
    opacity: 0.6;
    width: 180px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px gray (0, 0, 0, 2);
    padding: 20px;
    margin: 20px 0;
}

.card-produto img{
    width: 100%;
    height: auto;
    border-bottom: 1px solid gray;

}

.card-produto h2{
    color: #543265;
    margin-top: 0;
    font-size: 1rem;    
}

.card-produto p{
    font-size: 0.75rem;
    color: #543265;
    opacity: 0.5;
}

.price{
    color: blueviolet;
    font-weight: bold;
    font-size: 1.2rem;
}

.card-produto button{
    background-color: blue;
    border: none;
    color: antiquewhite;
    cursor: white ;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
}

footer{
    height: 15vh;
    width: 100vw;
    background-color: #543265;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}

.informacoes{
    font-family: "Rubik";
    color: #d9d9d9;
    margin: 5px;
}

.informacoes-direitos{
    margin-top: 25px;
}

.icone{
   width: 25px;
   height: 25px;
   margin: 5px;
}